/* CSS styles */

.overall{
  background-color: #fff3dd;
}
.header{
  background-color: #fff3dd;
  height: auto;
}
.header img{
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Automatically adjust the height */
  display: block; /* Ensure the image is treated as a block element */
  margin: 0 auto; /* Center the image horizontally */
}
.header h1{
  text-align: center;
    color: #33221a;
}
.accom{
  background-color: #fff3dd;
  float: inline-start;
 
}
.accom h1{
  text-align: center;
}
.accom p{
  text-align: center;
  /* line-height: 1; Add this to remove unnecessary space between words */
font: size 50px;
}

.room-listing {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff3dd;
    justify-content: space-around;
    margin: 20%;
    transform: scale(1);
  }
  
  .room {
    width: 80%; /* Adjust width of each room with spacing */
    margin-bottom: 0px;
    position: relative;
    border-radius: 5px;
    overflow: hidden; /* Ensure images do not overflow */
    align-content: center;
  }
  
  .room img {
    width: 100%; /* Make images fill their container */
    height: 50%; /* Preserve aspect ratio */
    display: block;
  }
  
  .room h2 {
    position: absolute; /* Position room name on top of image */
    top: 10px;
    left: 10px;
    color: rgb(247, 205, 121); /* Change font color for better visibility */
    font-family: 'Arial', sans-serif; /* Set font family */
    font-size: 23px; /* Adjust font size */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
    z-index: 1; /* Ensure room name is above image */
    text-align: center;
  }
  
  .description-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(39, 30, 28);
    color: #fff;
    border: none;
    border-radius: 0 0 5px 5px; /* Round bottom corners of button */
    cursor: pointer;
  }
  
  .description-popup {
    display: Room;


  }
 .description-popup h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 10px;
  border-radius: 5px;
  font-size: 240 px;
  color:#f7c670;
  
}


  
  .show {
    display: block;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* .overall{
    display: grid; 
    height: 100%;
    background-color: #f6ddb2;
    position: absolute;
    
} */