/* CSS styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.overall{
  background-color: rgba(210, 105, 30, 0.671);
}
body::-webkit-scrollbar {
  display: none;
}
.header{
  position: relative;
  background-color:#2b1700;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  align-items: center;
  margin-top: 0;
  border-bottom-style:solid ;
  border-color: rgba(250, 130, 17,0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.95);
  filter: opacity(1);

}
.scrolledheader{
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;

}

.header img{
  height: 80px;
  width: 80px;
  padding-top: 5px;
  padding-bottom: 0;
  overflow: hidden;
  border-radius: 100px;
  transition: all 0.5s;

}
.scrolledimg{
  display: none;
  /* transition: all 1s; */
}
.header h1{
  color: #f0e0c2;
  /* transition: all 1s; */
}
.scrolledh1{
  font-size: 30px;
  bottom: 0;
  /* transition: all 1s; */
}

.topnav{
  position:relative;
  z-index: 1000;
  width: 100%;
  height: 40px;
  background-color: #8f734c8e;
  display:flex; 
  justify-content:center;
  align-items: center;
  opacity: 1;
  border-bottom-style:solid ;
  border-color: rgba(250, 130, 17,0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  transition: all 1s;
}

a{
  /* margin-right: 30px; */
  color: #f0e0c2;
  height: 100%;
  /* padding: 10px; */
  font-size: medium;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
 }
.popup{
  display: none;
  position: absolute;
  top: 40px;
  width: 20vw;
  height: 10vh;
  background-color: #f0e0c2;
  z-index: 1000;
  /* text-align: center;
  align-items: center;
  justify-content: center; */
}
.popup p{
  color: rgb(0, 0, 0);
  font-size: medium;
  opacity: 1;
  font-family: courgette;
}
.scrolledtopnav{
  position: fixed;
  margin-top: 45px; 
  opacity: 1;
  color: rgb(39, 30, 28);
}
a:hover{
  color: #f0e0c2;
  transform: scale(1.1);
  filter: brightness(3.5);
  /* border-bottom-style: solid;
  border-bottom-color: black; */
  /* text-decoration: overline;  */
  border: 2px inset hsla(39, 61%, 85%,0.6);
  border-width: 80%;
  padding-bottom: -2px;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  background-color: rgba(210, 105, 30, 0.205);
}

.accom{
  background-color: rgba(210, 105, 30, 0.068);
  width: 100vw;
  text-align: center;
  margin: 10px;
 
}
.accom h1{
  text-decoration: underline;
  padding-bottom: 2px;
}


.room-listing {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(210, 105, 30, 0.068);
  align-items: center;
  
}
  
  .room {
    width: 80vw; /* Adjust width of each room with spacing */
    height: 80vw; /* Adjust height of each room with spacing */
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .room img {
    width: 100%; /* Make images fill their container */
    height: 50%; /* Preserve aspect ratio */
    display: block;
    filter: brightness(0.6);
  }
  
  .room h2 {
    position: absolute; /* Position room name on top of image */
    top: 10px;
    left: 10px;
    color: rgb(247, 205, 121); /* Change font color for better visibility */
    font-family: 'Arial', sans-serif; /* Set font family */
    font-size: 23px; /* Adjust font size */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
    z-index: 1; /* Ensure room name is above image */
    text-align: center;
  }
  
  .description-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(39, 30, 28);
    color: #fff;
    border: none;
    border-radius: 0 0 5px 5px; /* Round bottom corners of button */
    cursor: pointer;
  }
  
  .description-popup {
    text-align: center;
    height: auto;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top : 10px;
    padding: 10px;
    background-color: rgba(172, 119, 51, 0.507);
    border-radius:30px ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.95);
}
 .description-popup h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 10px;
  border-radius: 5px;
  font-size: 240 px;
  color:#f7c670;
  
}


  
  .show {
    display: block;
  }

  .check{
    background-color: #f7c670;
    color: #000;
    font-family: courgette;
    border: solid 1px #fff3dd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  

  .footer{
    margin-top: 10px;
    width: 100vw;
    height: auto;
    background-color: #4a2511;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.footer p,h2{
    color: #faceaf ;
    
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.icons img{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    display: inline;
    padding: 3px;
}
.footer span{
    text-decoration: underline;
}
  
  